pytesseract
Pillow
transformers
pymongo[srv]
streamlit
python-dotenv
torch
tqdm  # Required by transformers
numpy  # Required by transformers and PyTorch
opencv-python-headless  # Required for OpenCV functionality